
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono&display=swap:100,200,300,400,500,600,700');

/* -----------------------------------Menu colours */

.bg-color-banner-top {
    background-color: #291E29;
}

.bg-color-banner-bottom {
    background-color: #291E29;
}

.ui-menu-color {
    background-color: #7395ae;
}

/* -----------------------------------Backgrounds */

.background1 {
    box-sizing: border-box;
    background-image: url("../images/834269.jpg"); /* Picture taken from https://wallpaperaccess.com/4k-fitness */
    opacity: 0.8;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.background2 {
    background-color: #e3e2df;
}

/* -----------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4,
h6 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
}

.inline-block {
    display: inline-block;
}

/* -----------------------------------Heading 
(Inspired by Code Institute's CV-homepage tutorial project) */

header {
    margin: 0;
}

.logo {
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
    min-height: 120px;
    color: #291E29;
    background-color: #7395ae;
}

.hvr-logo:hover {  
    color: #e3e2df;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.banner-top {
    height: 40px;
}

.banner-bottom {
    height: 40px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin-bottom: 0px;
}

#nav li {
    padding: 0;
}

.menuitem {
    height: 40px;
    text-align: center;
    padding: 0px;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #291E29;
    height: 40px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 6px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 3px;
}

.hvr-fade:hover {
    background-color: #291E29;
    color: #e3e2df;
    height: 40px;
}

/* -----------------------------------Footer */

footer {
    background-color: #7395ae;
    color: #e3e2df;
    min-height: 120px;
    margin: 0;
    padding-top: 20px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

p span {
  display: block;
  font-size: 13px;
}

.social-links li a i {
    width: 25px;
    padding-top: 15px;
    font-size: 15px;
    color: #e3e2df;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #291E29;
}

/* -----------------------------------Index */

.index-text {
    margin-top: 100px;
    font-family: 'Roboto Mono', monospace;
}

.index-text h2 {
    text-align: left;
    margin-left: 30px;
    color: #e3e2df;
}

.gym {
    color: #291e29;
    font-weight: bold;
}

/* -----------------------------------Buttons */

.btn-secondary {
    margin-left: 30px;
    margin-top: 80px;
    background-color: #7395ae;
    color: #291e29;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 100px;
    border-style: none;
    border-radius: 50px;
}

.btn-secondary:hover {
    background-color: #291E29;
    color: #e3e2df;
}

/* -----------------------------------PT */

.pt-heading {
    margin: 60px 0px 60px 15px;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    color: #291e29;
}

.pt {
    color: #7395ae;
    font-weight: bold;
}

.pt-reviews {
    margin-bottom: 65px;
    font-style: italic;
    text-align: center;
    color: #291E29;
}

.block-divider {
    width: 5px;
    height: 5px;
    border: 0;
    background-color: #7395ae;
}

.pt-pricing {
    text-align: center;
    font-size: 15px; 
    color: #291E29;
    font-family: 'Roboto Mono', monospace;
}

.price {
    color: #fc4445;
    font-weight: 500;
}

.pt-text .btn-secondary {
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 70px;
    opacity: 0.8; 
}

/* -----------------------------------Contact-form 
Template taken from https://bootsnipp.com/snippets/yN1EV */

.card-body {
    font-family: 'Roboto Mono', monospace;
    color: #e3e2df;
    padding-top: 0;
    margin: 0;
}

.form-check-label {
    color: #e3e2df;
}

.form-row .btn-secondary {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* ----------------------------------- Classes Menu 
Template taken from https://mdbootstrap.com/docs/jquery/navigation/hamburger-menu/#accordion */

.accordion {
    margin: 60px 0px 60px 20px;
}

.accordion h2 {
    text-align: left;
    color: #291E29;
    font-family: 'Roboto Mono', monospace;
}

.card {
    border: none;
}

.card a:hover {
    text-decoration: none; 
}

.card h3:hover {
    color: #7395ae;
    text-decoration: none;
    font-weight: bold;    
}

.card-header {
    background-color: #e3e2df;
    border-bottom: none;
}

.card-header h3 {
    text-align: left;
    color: #291e29; 
    font-family: 'Roboto Mono', monospace;
}

.class {
    color: #7395ae;
    font-weight: bold;
}

.card-body-p {
    color: #291E29;
    background-color: #e3e2df;
}

.mb-0 {
    color: #fafafa;
    border: none;
}

.classes-picture {
    background-image: url("../images/4206874.jpg"); /* Picture taken from https://wallpaperaccess.com/boxing-training */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.classes-padding {
    padding: 0px;
}

/* -----------------------------------Media Queries 
With help from https://stackoverflow.com/questions/40853952/bootstrap-footer-at-the-bottom-of-the-page - Stylesheet by Máté Gregor */

@media (min-width: 540px) {
    html {
        position: relative;
        min-height: 100%;
    }
    body {
        margin-bottom: 120px;
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        min-height: 120px;
    }
}
