
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono&display=swap:100,200,300,400,500,600,700');

/* -----------------------------------Colours */

.bg-color-banner-top {
    background-color: #1286d3;
}

.bg-color-banner-bottom {
    background-color: #e67e22;
}

.ui-menu-color-home {
    background-color: #5c5f89;
}

.ui-menu-color-pt {
    background-color: #5c5f89;
}

.ui-menu-color-classes {
    background-color: #5c5f89;
}

.ui-menu-color-join {
    background-color: #5c5f89;
}

body {
    box-sizing: border-box;
    background-image: url("../images/fitness-1882721_1920.jpg");
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* -----------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4,
h6, {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
}

.inline-block {
    display: inline-block;
}

/* -----------------------------------Heading */

header {
    margin: 0;
}

.logo {
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
    min-height: 120px;
    color: #d4c8c8;
    background-color: #5c5f89;
}

.hvr-logo:hover {
    color: #4e3950;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.banner-top {
    height: 40px;
}

.banner-bottom {
    height: 40px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin-bottom: 0px;
}

#nav li {
    padding: 0;
}

.menuitem {
    height: 40px;
    text-align: center;
    padding: 0px;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #d4c8c8;
    height: 40px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 6px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 3px;
}

/* -----------------------------------Hover */

.hvr-fade:hover {
    background-color: #4e3950;
    height: 40px;
}

/* -----------------------------------Footer */

footer {
    background-color: #5c5f89;
    color: #d4c8c8;
    min-height: 120px;
    margin: 0;
    padding-top: 20px;
    font-family: 'Roboto Mono', monospace;
}

p span {
  display: block;
  font-size: 15px;
}

.social-links li a i {
    width: 25px;
    padding-top: 15px;
    font-size: 15px;
    color: #d4c8c8;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #4e3950;
}

/* -----------------------------------Index */

.index-text {
    margin-top: 100px;
    margin-left: 20px;
}

.index-text h1 {
    font-style: italic;
    text-align: left;
    margin-bottom: 30px;
    color: #d4c8c8;
    -webkit-text-stroke: 1px #000000;
}

.btn-secondary {
    margin-top: 30px;
    background-color: #e67e22;
    font-weight: 600;
    margin-bottom: 100px;
}

/* -----------------------------------Media Queries */

@media (min-width: 540px) {
    html {
        position: relative;
        min-height: 100%;
    }
    body {
        margin-bottom: 120px;
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        min-height: 120px;
    }

